In [278]:
import  numpy as np
import pandas as pd
import datetime

In [279]:
# import and view the data frame
df =  pd.read_csv("store_income_data_task.csv")
print(df.head())

   id                   store_name  ... date_measured          country
0   1   Cullen/Frost Bankers, Inc.  ...      4-2-2006   United States/
1   2          Nordson Corporation  ...      4-1-2006          Britain
2   3        Stag Industrial, Inc.  ...     12-9-2003    United States
3   4          FIRST REPUBLIC BANK  ...      8-5-2006         Britain/
4   5  Mercantile Bank Corporation  ...     21-1-1973   United Kingdom

[5 rows x 7 columns]

In [280]:
# view the country column
print(df['country'])
print()
print(f"The number of unique countries in the country column is {len(df['country'].unique())}")
print()
print(df['country'].unique())

0                United States/
1                       Britain
2                 United States
3                      Britain/
4                United Kingdom
                 ...
995      S. AfricaSouth Africa/
996               United States
997    UNITED STATES OF AMERICA
998                     England
999              united kingdom
Name: country, Length: 1000, dtype: object

The number of unique countries in the country column is 77

['United States/' 'Britain' ' United States' 'Britain/' ' United Kingdom'
 'U.K.' 'SA ' 'U.K/' 'America' 'United Kingdom' nan 'united states'
 ' S.A.' 'England ' 'UK' 'S.A./' 'ENGLAND' 'BRITAIN' 'U.K' 'U.K '
 'America/' 'SA.' 'S.A. ' 'u.k' 'uk' ' ' 'UK.' 'England/' 'england'
 ' Britain' 'united states of america' 'UK/' 'SA/' 'SA' 'England.'
 'UNITED KINGDOM' 'America.' 'S.A..' 's.a.' ' U.K'
 ' United States of America' 'Britain ' 'England' ' SA'
 'United States of America.' 'United States of America/' 'United States.'
 's. africasouth africa' ' England' 'United Kingdom '
 'United States of America ' ' UK' 'united kingdom' 'AMERICA' 'America '
 'UNITED STATES OF AMERICA' ' S. AfricaSouth Africa' 'america'
 'S. AFRICASOUTH AFRICA' 'Britain.' '/' 'United Kingdom.' 'United States'
 ' America' 'UNITED STATES' 'sa' 'United States of America' 'UK '
 'United States ' 'S. AfricaSouth Africa/' 'S.A.' 'United Kingdom/'
 'S. AfricaSouth Africa ' 'S. AfricaSouth Africa.' 'S. AfricaSouth Africa'
 '.' 'britain']

In [281]:
# convert all values in the countries column to small case letters
df['country'] = df['country'].str.lower()
print(f"The number of unique countries in the country column is {len(df['country'].unique())}")
print()
print(df['country'].unique())

The number of unique countries in the country column is 59

['united states/' 'britain' ' united states' 'britain/' ' united kingdom'
 'u.k.' 'sa ' 'u.k/' 'america' 'united kingdom' nan 'united states'
 ' s.a.' 'england ' 'uk' 's.a./' 'england' 'u.k' 'u.k ' 'america/' 'sa.'
 's.a. ' ' ' 'uk.' 'england/' ' britain' 'united states of america' 'uk/'
 'sa/' 'sa' 'england.' 'america.' 's.a..' 's.a.' ' u.k'
 ' united states of america' 'britain ' ' sa' 'united states of america.'
 'united states of america/' 'united states.' 's. africasouth africa'
 ' england' 'united kingdom ' 'united states of america ' ' uk' 'america '
 ' s. africasouth africa' 'britain.' '/' 'united kingdom.' ' america'
 'uk ' 'united states ' 's. africasouth africa/' 'united kingdom/'
 's. africasouth africa ' 's. africasouth africa.' '.']

In [282]:
# strip all the forward slash, dots and spaces
df['country'] = df['country'].str.strip('/. ')
print(f"The number of unique countries in the country column is {len(df['country'].unique())}")
print()
print(df['country'].unique())

The number of unique countries in the country column is 13

['united states' 'britain' 'united kingdom' 'u.k' 'sa' 'america' nan 's.a'
 'england' 'uk' '' 'united states of america' 's. africasouth africa']

In [283]:
# convert [u.k, england, uk, and britain] to united kingdom
df['country'] = df['country'].str.replace('u.k','united kingdom')
df['country'] = df['country'].str.replace('england','united kingdom')
df['country'] = df['country'].str.replace('uk','united kingdom')
df['country'] = df['country'].str.replace('britain','united kingdom')
print(f"The number of unique countries in the country column is {len(df['country'].unique())}")
print()
print(df['country'].unique())

The number of unique countries in the country column is 9

['united states' 'united kingdom' 'sa' 'america' nan 's.a' ''
 'united states of america' 's. africasouth africa']

In [284]:
# covert [america, united states of america and united states of united states] to united states
df['country'] = df['country'].str.replace('america','united states')
df['country'] = df['country'].str.replace('united states of america','united states')
df['country'] = df['country'].str.replace('united states of united states','united states')
print(f"The number of unique countries in the country column is {len(df['country'].unique())}")
print()
print(df['country'].unique())

The number of unique countries in the country column is 7

['united states' 'united kingdom' 'sa' nan 's.a' ''
 's. africasouth africa']

In [285]:
# convert [sa, s.a and s. africasouth africa] to south africa
df.country.replace("sa", "south africa",inplace=True)
df.country.replace("s.a", "south africa",inplace=True)
df.country.replace("s. africasouth africa", "south africa",inplace=True)

print(f"The number of unique countries in the country column is {len(df['country'].unique())}")
print()
print(df['country'].unique())

The number of unique countries in the country column is 5

['united states' 'united kingdom' 'south africa' nan '']

In [286]:
# removing nan and empty spaces
df.country.fillna('nan',inplace=True)
df.country.replace('','nan', inplace=True)
df = df[df['country'] != 'nan']
print(f"The number of unique countries in the country column is {len(df['country'].unique())}")
print()
print(df['country'].unique())

The number of unique countries in the country column is 3

['united states' 'united kingdom' 'south africa']

In [287]:
print(df['date_measured'])

0        4-2-2006
1        4-1-2006
2       12-9-2003
3        8-5-2006
4       21-1-1973
          ...
995     7-10-2005
996    19-12-1990
997     25-4-2009
998     13-1-2011
999     1-12-2011
Name: date_measured, Length: 914, dtype: object

In [288]:
# parsing date
df['date_parsed'] = pd.to_datetime(df['date_measured'],format='%d-%m-%Y')
print(df['date_parsed'])
df = df.drop(columns='date_measured')
print(df.columns)

0     2006-02-04
1     2006-01-04
2     2003-09-12
3     2006-05-08
4     1973-01-21
         ...
995   2005-10-07
996   1990-12-19
997   2009-04-25
998   2011-01-13
999   2011-12-01
Name: date_parsed, Length: 914, dtype: datetime64[ns]
Index(['id', 'store_name', 'store_email', 'department', 'income', 'country',
       'date_parsed'],
      dtype='object')

In [289]:
# Calculating the number of days ago
df['today'] =  datetime.date.today()
print(df['today'])
df['today'] = pd.to_datetime(df['today'],format='%Y-%m-%d')
df['days_ago'] = df['today'] - df['date_parsed']
print(df['days_ago'].head())

0      2023-11-09
1      2023-11-09
2      2023-11-09
3      2023-11-09
4      2023-11-09
          ...
995    2023-11-09
996    2023-11-09
997    2023-11-09
998    2023-11-09
999    2023-11-09
Name: today, Length: 914, dtype: object
0    6487 days
1    6518 days
2    7363 days
3    6394 days
4   18554 days
Name: days_ago, dtype: timedelta64[ns]